[user]
	name = Dylan Smith
	email = Dylan.Smith@shopify.com
[github]
	user = dylanahsmith
[alias]
	dlog = log --pretty=format:'%C(yellow)%h %C(bold cyan)%ci %C(bold green)%an%C(bold red)%d%Creset: %s'
	flog = log --pretty=format:'%C(yellow)%h %C(bold cyan)%cr %C(bold green)%an%C(bold red)%d%Creset: %s'
	plog = log --first-parent --pretty=format:'%C(yellow)%h %C(bold cyan)%cr %C(bold green)%an%C(bold red)%d%Creset: %s'
	llog = log --graph --pretty=format:'%C(yellow)%h %C(bold cyan)%cr %C(bold green)%an%C(bold red)%d%Creset: %s'
	diffstat = !git diff --stat=$COLUMNS,$COLUMNS
	wdiff = diff --word-diff=color
[merge]
	conflictstyle = diff3
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
[format]
	suffix = .diff.txt
[include]
	path = .gitconfig-local
