/*
!/.bash.d/
!/.bash_profile
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gitignore-global
!/.irb.d/
!/.irbrc
!/.pryrc
!/.screenrc
!/.ssh/config
!/bin/bto.rb
!/bin/to.rb
!/bin/jsonpretty
/.bash.d/local.sh
